---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2
ColumnLimit: 100
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterStruct: true
  AfterEnum: true
  AfterControlStatement: Never
PointerAlignment: Right
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false
